<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="analysisEngineFactory" class="org.apache.uima.fit.factory.AnalysisEngineFactory"/>

	<!-- Configure the jaxb2Marshaller that generates java classes out of XSD schema files -->
	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>de.sda.quotes.model.Quotes</value>
				<value>de.sda.quotes.model.Quote</value>
				<value>de.sda.quotes.model.Source</value>
				<value>de.sda.quotes.model.Text</value>
				<value>de.sda.quotes.model.Version</value>
				<value>de.sda.quotes.model.LexicalResource</value>
			</list>
		</property>
	</bean>
	
	<!-- Configure the lexical resource service that is used for looking up replacements for nouns -->
	<bean id="lexicalResourceService" class="de.sda.literature.source.LexicalResourceService">
		<property name="unmarshaller" ref="jaxb2Marshaller"/>
	</bean>
	
	<!-- Configure the linguistic Analyzer chain to be used during quotes analysis -->
	<bean id="linguisticAnalyzer" class="de.sda.nlp.analyze.LinguisticAnalyzer">
		<constructor-arg index="0" value="de.tudarmstadt.ukp.dkpro.core.languagetool.LanguageToolLemmatizer"/>
	</bean>
	
	<bean id="nameReplacementService" class="de.sda.novel.NameReplacementServiceImpl">
		<constructor-arg name="personNames">
			<list value-type="java.lang.String">
				<value>Heinz</value>
				<value>Marilyn</value>
				<value>Antonio</value>
				<value>Alexandra</value>
				<value>Piotr</value>
				<value>Hannes Schober</value>
				<value>John Peek</value>
				<value>Vladislav Pokrovský</value>
				<value>Ivana</value>
				<value>Hongyun</value>
				<value>Brünhilde</value>
				<value>Kajetán</value>
				<value>Sofie-Maria Lenau</value>
			</list>
		</constructor-arg>
		<constructor-arg name="placeNames">
			<list value-type="java.lang.String">
				<value>Ransbach-Baumbach</value>
				<value>Kobern-Gondorf</value>
				<value>Traben-Trarbach</value>
				<value>Treis-Karden</value>
				<value>Castrop-Rauxel</value>
				<value>Villingen-Schwenningen</value>
				<value>Nordrhein-Westfalen</value>
				<value>Wuppertal-Elberfeld</value>
				<value>Ammerbuch-Pfäffingen</value>
				<value>Mainz-Kastel</value>
				<value>Wald-Michelbach</value>
				<value>Bobenheim-Roxheim</value>
				<value>Baar-Ebenhausen</value>
				<value>Steinbach-Hallenberg</value>
				<value>Obermaßfeld-Grimmenthal</value>
				<value>Brotterode-Trusetal</value>
				<value>Nachrodt-Wiblingwerde</value>
				<value>Rheda-Wiedenbrück</value>
				<value>Schieder-Schwalenberg</value>
				<value>Dallgow-Döberitz</value>
				<value>Schönwalde-Glien</value>
				<value>Beiersdorf-Freudenberg</value>
				<value>Heckelberg-Brunow</value>
				<value>Lunow-Stolzenhagen</value>
				<value>Flieth-Stegelitz</value>
				<value>Temmen-Ringenwalde</value>
				<value>Neetzow-Liepen</value>
				<value>Ribnitz-Damgarten</value>
				<value>Graal-Müritz</value>
				<value>Börgerende-Rethwisch</value>
				<value>Wenningstedt-Braderup</value>
				<value>Osterholz-Scharmbeck</value>
			</list>
		</constructor-arg>	
	</bean>
	
	<bean id="novelGenerator" class="de.sda.novel.NovelGenerator">
		<constructor-arg ref="targetLocale"/>
		<constructor-arg ref="quotesService"/>
		<constructor-arg name="quoteFiles">
			<array value-type="java.lang.String">
				<!-- <value>config/copyrighted-quotes.xml</value>-->
				<value>config/public-domain-quotes.xml</value>
			</array>
		</constructor-arg>
		<constructor-arg ref="linguisticAnalyzer"/>
		<constructor-arg ref="lexicalResourceService"/>
		<constructor-arg ref="nameReplacementService"/>
		<property name="genresToBeExcluded">
			<list value-type="java.lang.String">
	            <value>poetry</value>
	        </list>
        </property>
        <property name="outputFilePath" value="generated-novel.txt"></property>
	</bean>
	
	<bean id="quotesService" class="de.sda.literature.source.QuotesService">
		<property name="unmarshaller" ref="jaxb2Marshaller"/>
	</bean>
	
	<bean id="targetLocale" class="java.util.Locale">
		<constructor-arg name="language" value="en" />
	</bean>
</beans>